{% extends "account/base.html" %}

{% block head_title %}Log out{% endblock %}
{% block h3 %}Are you sure you want to log out?{% endblock %}

{% block content %}
    <form method="post" action="{% url 'account_logout' %}">
      {% csrf_token %}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
      {% endif %}
      <button class="btn btn-lg btn-primary btn-block primaryAction" type="submit">Log Out</button>
    </form>
{% endblock %}
