{% extends "account/base.html" %}
{% load account %}
{% load crispy_forms_tags %}

{% block head_title %}Password reset{% endblock %}

{% block h3 %} 
    Reset your password
{% endblock %}

{% block content %}
    <div">
        <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
            {% csrf_token %}
            {{ form|crispy }}
            <button class="btn btn-lg btn-primary btn-block primaryAction" type="submit" name="action">Reset password</button>
        </form>
    </div>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
{% endblock %}
