{% extends "clientaccounts/base.html" %}
{% load static %}

{% block head_title %}
    Client accounts
{% endblock %}

{% block profilecontent %}
    {% if messages %}
        {% for message in messages %}
            {% if 'ilovepancakesclientaccounts' in message.tags %}
                {{ message|safe }}
            {% endif %}
        {% endfor %}
    {% endif %}

    <script>
        var listUrl = "{% url 'api:get-view' cat_str %}";
        var delUrl = "{% url 'api:delete' cat_str 0 %}";
        var editUrl = "{% url 'clientaccounts:edit-client-account' 0 %}";
        const cols = {{only|safe}};
        const deletable = true;
        const editable = true;
    </script>

    <div class="container">
        {% if buttons %}
            {% include "api/buttons.html" with buttons=buttons %}
            <hr>
        {% endif %}
        {% include "empty_table.html" with item_str='client account' cols=cols end_left=2 cat_str=cat_str items=clientaccounts url_str="clientaccounts:edit-client-account" item_str="client accounts" %}
    </div>

{% endblock %}