{% extends "plans/base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <div class="flex-grid justify-content-center my-3">
        
        <div class="col">
            <a href="#">
                <button class="btn btn-info btn-lg profile-home-box my-3">Profile</button>
            </a>
        </div>

        <div class="col">
            <a href="#">
                <button class="btn btn-info btn-lg profile-home-box my-3">Meal plans</button>
            </a>
        </div>
        <div class="col">
            <a href="#">
                <button class="btn btn-info btn-lg profile-home-box my-3">Exercise plans</button>
            </a>
        </div>
    </div>
</div>
{% endblock %}